@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600&display=swap');



:root{
    --header-height: 48px;

    --hue-color: 250;/*290; /*250*/

    --first-color: hsl(var(--hue-color),69%,61%);
    --first-color-second: hsl(var(--hue-color),69%,61%);
    --first-color-alt: hsl(var(--hue-color),57%,53%);
    --first-color-lighter: hsl(var(--hue-color),92%,85%);
    --title-color: hsl(var(--hue-color),8%,15%);
    --text-color: hsl(var(--hue-color),8%,45%);
    --text-color-light: hsl(var(--hue-color),8%,65%);
    --input-color: hsl(var(--hue-color),70%,96%);
    --body-color: hsl(var(--hue-color),60%,99%);
    --container-color: #fff;


    --body-font: 'Poppins', sans-serif;
    
    --big-font-size: 32px;
    --h1-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 17px;
    --normal-font-size: 15px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;
        

    --font-medium: 500;
    --font-semibold: 600;

    /*Margins*/
    --mb-0-25: 4px;
    --mb-0-5: 8px;
    --mb-0-75: 12px;
    --mb-1: 16px;
    --mb-1-5: 24px;
    --mb-2: 32px;
    --mb-2-5: 40px;
    --mb-3: 48px;
    

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px){
    :root{
        --big-font-size: 48px;
        --h1-font-size: 36px;
        --h2-font-size: 24px;
        --h3-font-size: 20px;
        --normal-font-size: 16px;
        --small-font-size: 14px;
        --smaller-font-size: 13px;
    }
    
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

/*Resuable css classes*/
.section{
    padding: 32px 0 64px;
}

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle{
    text-align: center;
}


/*layout*/
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 24px;
}


.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*nav*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 17px;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 32px 24px 64px;
        box-shadow: 0 -1px 4px  rgba(0, 0, 0, .15);
        border-radius: 24px 24px 0 0;
        transition: .3s;
    }
}

.nav__list{
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__icon{
    font-size: 18px;
}

.nav__close{
    position: absolute;
    right: 19px;
    bottom: 8px;
    font-size: 24px;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alt);
}

/*show-menu*/
.show-menu{
    bottom: 0;
}

/*home*/
.home__container{
    gap: 16px;
}

.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 56px;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 16px;
}

.home__social-icon{
    font-size: 20px;
    color: var(--first-color);
}

.home__social-icon:hover{
    color: var(--first-color-alt);
}

.home__blob{
    width: 200px;
    fill:var(--first-color);
}

.home__blob-img{
    width: 325px;
}

.home__data{
    grid-column: 1/3;
}

.home__title{
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description{
    margin-bottom: var(--mb-2);
}

.home__scroll{
    /*display: none;*/
}

.home__scroll-button{
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover{
    transform: translateY(4px);
}

.home__scroll-mouse{
    font-size: 32px;
}

.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
    font-size: 20px;
}

/*buttons*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button__icon{
    font-size: 20px;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

/*Contact*/
.contact__container{
    row-gap: 24px;
}

.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon{
    font-size: 32px;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content{
    background-color: var(--input-color);
    border-radius: 8px;
    padding: 12px 16px 4px;
}

.contact__label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: 4px 8px 8px 0;
}

.footer__container{
    row-gap: 56px;
}

.footer__bg{
    background-color: var(--first-color-second);
    padding: 32px 0 48px;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
    font-size: var(--small-font-size);
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer__links:hover{
    color: var(--first-color-lighter);
}

.footer__social{
    font-size: 20px;
    margin-right: var(--mb-1-5);
}

.footer__social:hover{
    color: var(--first-color-lighter);
}

.footer__copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer__title, .footer__subtitle, .footer__link, .footer__social{
    color: #fff;
}


@media screen and (min-width: 576px) {
    .home {
      padding: 4rem 0 2rem;
    }
    .home__social {
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;
    }
    .home__social-icon {
      margin-bottom: 0;
      margin-right: var(--mb-4);
    }
    .home__img {
      width: 300px;
      bottom: 25%;
    }
    .about__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
    }
    .skills__container {
      grid-template-columns: .7fr;
      justify-content: center;
      column-gap: 1rem;
    }
    .work__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      padding-top: 2rem;
    }
    .contact__form {
      width: 360px;
      padding-top: 2rem;
    }
    .contact__container {
      justify-items: center;
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
    .section {
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section-title {
      margin-bottom: var(--mb-6);
    }
    .section-title::after {
      width: 80px;
      top: 3rem;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
      display: flex;
      padding-top: 0;
    }
    .nav__item {
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    .nav__toggle {
      display: none;
    }
    .nav__link {
      color: var(--second-color);
    }
    .home {
      padding: 8rem 0 2rem;
    }
    .home__img {
      width: 400px;
      bottom: 10%;
    }
    .about__container {
      padding-top: 2rem;
    }
    .about__img img {
      width: 300px;
    }
    .skills__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      align-items: center;
      text-align: initial;
    }
    .work__container {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
    .home {
      padding: 10rem 0 2rem;
    }
    .home__img {
      width: 450px;
    }
  }
































